#head1{
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 2rem;
}
.tech{
    display: flex;
    justify-content: center;
    gap: 2;
}

@media (max-width:768) {
    .tech{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}