.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  height: 100vh;
}
#about{
  background-color: cyramical;
  box-shadow: 0px 0px 10px grey;
  border-radius: 2;
  margin: 3rem;
  padding: 0.5rem;
}

.about-container img {
  margin-bottom: 1rem;
  border-radius: 4%;
  box-shadow: 0px 0px 10px 0px grey;
}

.about-container div {
  max-width: 600px; 
  text-align: center;
}

#para {
  margin-bottom: 1rem;
  line-height: 1.9;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);

}
.about{
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (min-width: 768px) {
  .about-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .about-container img {
    margin-right: 2rem;
    margin-bottom: 0;
  }
}